body {
    background-color: blue;
}

@keyframes mover {
    from{top: 50px;}
    to{top: 250px;}
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
    
}
#pelota{
    position: absolute;
    animation-name: fadeIn, otra, fadeIn;
    animation-duration: 5s, 10s, 5s;
    animation-delay: 5s, 7s, 2s;
}

#flecha{
    position: absolute;
    left: 150px;
    animation-name: fadeIn;
    animation-duration: 5s;
}

@keyframes otra {
    0%{color: brown;}
    25%{color: yellow;}
    50%{color: green;}
}

ul li {
    display: inline;
    padding: 10px;
    background-color: black;
    color: white;
}

ul li:hover{
    animation-name: menu;
    animation-duration: 1s;
    animation-iteration-count: infinites;
}

@keyframes menu {
    0%{
        padding: 10px;
    background-color: black;
    color: white;
    }
    100% {
        padding: 20px;
        background-color: white;
        color: black;
        box-shadow: 5px 5px 5px black;
    }
}